#container{
    font-family: 'Raleway', sans-serif;
    width: 80%;
    margin: 0 auto;  
}

#header{
    height: 100px;
    padding: 10px 0;
}

h1 a{
    font-family: 'Merriweather', serif;
    font-size: 50px;
    text-decoration: none;
    font-weight: 100;
    color: #674188;  
}

#brand{
    float: left;
}

#search{
    float: right;
    background: #FFFBF5;
    height: 50px;
    margin: 21.44px 0;
    padding: 30px 20px 0 20px;
}

.text{
    font-family: 'Raleway', sans-serif;
    float: left;
    width: 200px;
    border: 1px solid #F7EFE5;
    font-size: 15px;
    color: #C3ACD0;
    background: white url(img/mglass.png) right center no-repeat;
    
}

.submit{
    font-family: 'Raleway', sans-serif;
    margin-left: 5px;
    float: right;
    font-weight: bold;
    background: #674188;
    color: aliceblue;
    border-color: #674188;
    font-size: 15px;
}

.clear{
    clear: both;
}

#menu ul{
    list-style: none;  
}

#menu{
    font-family: 'Raleway', sans-serif;
    background: #F7EFE5;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#menu ul li{
    float: left;
    height: 30px;
    padding: 0 30px;
    border-right: 1px solid #674188;
}

#menu ul li:last-child{
    border-right: 0;
}

#menu ul li a{
    text-decoration: none;
    color: #C3ACD0;
    font-size: 17px;
    line-height: 30px;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;

}

#menu ul li a:hover, #menu ul li a.active{
    font-size: 20px;
    color: #674188;
    font-weight: bold;
}

#intro{
    background: #FFFBF5;
    padding: 30px;
    margin: 16px 0;
}

#intro h3{
    font-family: 'Merriweather', serif;
    font-size: 40px;
    color: #674188;
    font-weight: normal;
}

#intro p{
    font-size: 25px;
    color: #C3ACD0;
    text-align: justify;
}

#sidebars{
    display: flex;
    justify-content: space-between;
}

.sidebar{
    padding: 10px 20px;
    border: 1px solid #C3ACD0;
    border-radius: 20px;
    width: 45%;
}


.sidebar ul li{
    padding: 4px 0 4px 0;
}

#sidebar1{
    float: left;
    list-style-image: url(img/redarrow.png);
}

#sidebar2{
    float: right;
    color: #C3ACD0;
    list-style-image: url(img/greencheck.png);
    word-wrap: normal; 
}

.sidebar h3{
    font-family: 'Merriweather', serif;
    color:#674188;
    font-size: 30px;
}

.sidebar ul li a{
    text-decoration: none;
    font-size: 20px;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}

.sidebar ul li a:hover{
    font-size: 20px;
    color: #674188;
    font-weight: bold;
}

.footer{
    font-family: 'Nanum Gothic Coding', monospace;
    height: 50px;
    background-color: #C3ACD0;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 20px;
    color:#674188
}